<div class="flex flex-col gap-10 h-full px-5">
  <div class="flex-col-reverse sm:flex-row flex gap-2 items-center justify-between flex-1">
    <div class="flex flex-col gap-4 items-center grow">
      <div class="flex flex-col gap-0.5">
        <h1 class="text-2xl sm:text-3xl font-extrabold text-break">
          Unlock Fun Quizzess & Challenge Friends!
        </h1>
        <p class="text-base sm:text-xl">Join now and start your quiz adventure - it's free.</p>
      </div>
      <div class="flex md:hidden gap-1.5">
        @defer (prefetch on idle) {
          @if (isLoggedIn()) {
            <app-button redirectTo="/signup" size="md" variant="primary" customClasses="shadow-sm"
              >Create your quiz</app-button
            >
          } @else {
            <app-button redirectTo="/signup" size="md" variant="primary" customClasses="shadow-sm"
              >Start your journey</app-button
            >
          }
        } @placeholder {
          <app-button size="md" variant="skeleton" skeletonWidth="9rem" />
        }
        <app-button redirectTo="/quizzes" size="md" variant="secondary" customClasses="shadow-sm"
          >Browse quizzes</app-button
        >
      </div>
      <div class="hidden md:flex gap-2.5">
        @defer (prefetch on idle) {
          @if (isLoggedIn()) {
            <app-button redirectTo="/signup" size="lg" variant="primary" customClasses="shadow-sm"
              >Create your quiz</app-button
            >
          } @else {
            <app-button redirectTo="/signup" size="lg" variant="primary" customClasses="shadow-sm"
              >Start your journey</app-button
            >
          }
        } @placeholder {
          <app-button size="lg" variant="skeleton" skeletonWidth="10rem" />
        }
        <app-button redirectTo="/quizzes" size="lg" variant="secondary" customClasses="shadow-sm"
          >Browse quizzes</app-button
        >
      </div>
    </div>
    <svg class="min-w-16 xs:min-w-32 max-w-96" si-home-question-image></svg>
  </div>
  <div class="flex flex-col sm:flex-row gap-3 justify-center flex-wrap">
    <app-home-card>
      <svg class="size-12" si-ranking-icon></svg>
      <p class="text-sm sm:text-base">Climb the leaderboard</p>
    </app-home-card>
    <app-home-card>
      <svg class="size-12" si-knowledge-icon></svg>
      <p class="text-sm sm:text-base">Test your knowledge</p>
    </app-home-card>
    <app-home-card>
      <svg class="size-12" si-friends-icon></svg>
      <p class="text-sm sm:text-base">Compete with friends</p>
    </app-home-card>
  </div>
</div>
