<form
  [formGroup]="form"
  class="flex w-full flex-col gap-2.5 md:gap-4.5"
  (ngSubmit)="createQuiz()">
  <div class="flex flex-col gap-2">
    <app-quiz-create-form-title
      class="bg-surface flex flex-col gap-3 rounded-lg p-4 shadow-sm sm:gap-5"
      [control]="form.controls.title" />
    <app-quiz-create-form-category
      class="bg-surface flex flex-col gap-3 rounded-lg p-4 shadow-sm sm:gap-5"
      [control]="form.controls.category" />
  </div>
  <div class="flex flex-col gap-2 md:gap-4">
    <p class="self-start text-lg font-medium sm:text-xl">
      Questions ({{ form.controls.questions.length }} / 20)
    </p>
    @for (
      question of form.controls.questions.controls;
      track question;
      let index = $index
    ) {
      <app-quiz-create-form-question
        [isLoading]="isLoading()"
        [data]="getQuestionData(question, index)"
        (addAnswer)="addAnswer(index)"
        (removeAnswer)="removeAnswer(index, $event)"
        (removeQuestion)="removeQuestion(index)" />
    }
  </div>
  <div class="flex justify-between gap-2 sm:hidden">
    <app-button
      variant="secondary"
      size="md"
      (handleClick)="addQuestion()"
      [disabled]="
        form.controls.questions.length >= limits.MAX_QUESTIONS || isLoading()
      "
      >Add question</app-button
    >
    <app-button
      type="submit"
      variant="primary"
      size="md"
      [disabled]="form.invalid || isLoading()"
      >{{ isLoading() ? 'Loading...' : 'Create quiz' }}</app-button
    >
  </div>
  <div class="hidden justify-between gap-2 sm:flex">
    <app-button
      variant="secondary"
      size="lg"
      (handleClick)="addQuestion()"
      [disabled]="
        form.controls.questions.length >= limits.MAX_QUESTIONS || isLoading()
      "
      >Add question</app-button
    >
    <app-button
      type="submit"
      variant="primary"
      size="lg"
      [disabled]="form.invalid || isLoading()"
      >{{ isLoading() ? 'Loading...' : 'Create quiz' }}</app-button
    >
  </div>
</form>
