# IDE and System files
.DS_Store
Thumbs.db
.vscode/
.idea/
.zed/
*.swp
*.scratch

# Gradle and Spring Boot
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
/out/
*.log
**/src/main/resources/application-local.properties
**/src/main/resources/application-local.yml

# Angular and Node
.angular/
node_modules/
/dist/
/tmp/
/out-tsc/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing and Coverage
/coverage/
.env
.env.local
