repos:
  - repo: local
    hooks:
      - id: lint
        name: lint
        entry: bash -c 'cd frontend && pnpm run lint'
        language: system
        pass_filenames: false
        stages: [pre-commit, pre-push]
  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd frontend && pnpm run format-check'
        language: system
        stages: [pre-commit, pre-push]
