#spring:
#  application:
#    name: gateway
#server:
#  port: 9000
spring:
  application:
    name: apigateway
  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
              '[/**]':
                allowed-origins:
                  - "*"
                allowed-methods:
                  - "*"
                allowed-headers:
                  - "*"
          routes:
            - id: usermanagement
              uri: http://localhost:8086
              predicates:
                - Path=/users/**
              filters:
                - StripPrefix=1
  profiles:
    active: dev
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8080/realms/quizarena
          jwk-set-uri: ${spring.security.oauth2.resourceserver.jwt.issuer-uri}/protocol/openid-connect/certs


server:
  port: 8085
logging:
  level:
    org:
      springframework:
        cloud:
          gateway: TRACE
        security: DEBUG
