@if (query.isError() && !query.isPending() && !query.isFetching()) {
  <app-fallback-ui
    title="Something went wrong"
    description="Oops! We can't load this content right now."
    redirectTo="/">
    <svg
      icon
      class="xs:min-w-32 max-w-64 min-w-16"
      si-fetch-error-image />
  </app-fallback-ui>
} @else {
  <div class="flex flex-col items-center gap-4 p-4 md:gap-6">
    <div class="flex w-full max-w-2xl flex-col gap-4">
      <div class="flex w-full flex-col gap-4">
        <app-leaderboard-list
          [skeletonCount]="skeletonCount()"
          [isPending]="query.isPending()"
          [isFetching]="query.isFetching()"
          [leaderboard]="leaderboard()" />
        @if (!query.isFetching() && query.hasNextPage()) {
          <app-button
            variant="secondary"
            size="lg"
            customClasses="shadow-sm mx-auto"
            (handleClick)="query.fetchNextPage()">
            Load more
          </app-button>
        }
      </div>
    </div>
  </div>
}
