<div class="flex flex-col gap-4 md:gap-8 items-center w-full h-full">
  <div class="self-start flex flex-col gap-1">
    <div class="flex flex-col sm:flex-row gap-1 sm:gap-3 items-center">
      <h1 class="text-2xl xs:text-3xl sm:text-5xl font-bold text-center">
        {{ game().quiz.title }}
      </h1>
      <div
        class="self-start sm:self-center bg-accent rounded-full text-xs sm:text-base w-fit px-2 py-0.5 sm:px-3 sm:py-1 text-on-accent shadow-sm shrink-0"
      >
        {{game().quiz.questionsCount }} questions
      </div>
    </div>
    <h2 class="text-secondary text-sm sm:text-lg">{{ game().quiz.category }}</h2>
  </div>
  <div class="flex flex-col gap-8 w-full bg-surface rounded-4xl shadow-md px-6 py-4">
    <div class="flex gap-4 justify-center">
      <svg si-game-lobby-image class="scale-x-[-1] max-h-115 shrink-0 hidden sm:flex"></svg>
      <div class="flex flex-col gap-2.5 sm:gap-4 items-center justify-center">
        <div class="flex items-center gap-4">
          <p class="uppercase font-extrabold text-4xl sm:text-5xl lg:text-7xl">
            {{ game().roomCode }}
          </p>
          <app-button
            variant="primary"
            size="md"
            class="hidden sm:flex shrink-0"
            (handleClick)="copyRoomCode()"
            >Copy code</app-button
          >
          <app-button
            variant="primary"
            size="sm"
            class="flex sm:hidden shrink-0"
            (handleClick)="copyRoomCode()"
            >Copy code</app-button
          >
        </div>
        <p class="text-accent font-medium text-base sm:text-lg cursor-default select-none">
          Share this code with your friends!
        </p>
        <p-carousel
          [value]="game().players"
          [numVisible]="3"
          [numScroll]="1"
          [circular]="true"
          [showIndicators]="false"
          [responsiveOptions]="responsiveOptions"
          [autoplayInterval]="2000"
          contentClass="p-2"
          class="max-w-2xs xs:max-w-sm md:max-w-md lg:max-w-2xl"
        >
          <ng-template let-player #item>
            <div class="flex gap-2 items-center justify-center p-1">
              <div
                class="aspect-square size-6 sm:size-8 rounded-full flex items-center justify-center focus-ring text-on-accent text-xs sm:text-base cursor-default select-none"
                [class.bg-tertiary]="isHost()"
                [class.bg-primary]="!isHost()"
              >
                {{ player.firstName.charAt(0) + player.lastName.charAt(0) }}
              </div>
              <p
                class="text-base sm:text-lg text-shadow-sm cursor-default select-none"
                [class.text-tertiary]="isHost()"
              >
                {{ player.firstName }} {{player.lastName}}
              </p>
            </div>
          </ng-template>
        </p-carousel>
      </div>
    </div>
    <div class="hidden sm:flex gap-2 self-center items-center">
      <app-button variant="ghost" size="lg" (handleClick)="leave()">Leave</app-button>
      @if (isHost()) {
      <app-button variant="primary" size="lg" (handleClick)="startGame()">Start game</app-button>
      }
    </div>
    <div class="flex sm:hidden gap-2 self-center items-center">
      <app-button variant="ghost" size="md" (handleClick)="leave()">Leave</app-button>
      @if (isHost()) {
      <app-button variant="primary" size="md" (handleClick)="startGame()">Start game</app-button>
      }
    </div>
  </div>
</div>
