<div class="bg-surface shadow-sm rounded-lg flex flex-col">
  <div class="p-4 flex gap-2">
    <img
      class="size-8 sm:size-12 shrink-0 rounded-full object-cover object-center shadow-sm"
      [src]="categoryImagePath()"
      [alt]="quiz().category"
    />
    <div class="flex flex-col gap-1">
      <div>
        <h2 class="font-medium">{{ quiz().title }}</h2>
        <p class="text-accent text-sm">{{ quiz().category }}</p>
      </div>
      <div class="flex gap-4 w-full">
        <div class="text-secondary flex gap-1.5 text-xs items-center">
          <i class="pi pi-question-circle" style="font-size: 0.75rem"></i>
          <p>{{ quiz().questionsCount }} questions</p>
        </div>
        @if (quiz().author !== null) {
          <div class="text-secondary flex gap-1.5 text-xs items-center">
            <i class="pi pi-user" style="font-size: 0.75rem"></i>
            <p class="text-break">By {{ quiz().author }}</p>
          </div>
        }
      </div>
    </div>
  </div>
  <button
    class="bg-border-light p-2 text-center rounded-b-lg hover:opacity-90 transition-opacity focus-ring"
  >
    <p class="text-accent font-medium text-xs sm:text-sm">Start Quiz</p>
  </button>
</div>
