<div class="bg-surface shadow-sm fixed bottom-0 w-full">
  <div class="mx-auto flex items-center justify-between sm:justify-around gap-4 max-w-96">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="px-3 pb-0.5 pt-1 flex items-center flex-col justify-center uppercase gap-0.5 border-y-surface border-y-2 grow focus-ring-inset"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>
      <p class="text-xs">Home</p>
    </a>
    <a
      routerLink="/leaderboard"
      routerLinkActive="active"
      class="px-3 pb-0.5 pt-1 flex items-center flex-col justify-center uppercase gap-0.5 border-y-surface border-y-2 grow focus-ring-inset"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Leaderboard icon"
        fontIcon="emoji_events"
      ></mat-icon>
      <p class="text-xs">Leaderboard</p>
    </a>
    <a
      routerLink="/settings"
      routerLinkActive="active"
      class="px-3 pb-0.5 pt-1 flex items-center flex-col justify-center uppercase gap-0.5 border-y-surface border-y-2 grow focus-ring-inset"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <mat-icon aria-hidden="false" aria-label="Settings icon" fontIcon="settings"></mat-icon>
      <p class="text-xs">Settings</p>
    </a>
  </div>
</div>
