<div
  class="mx-auto flex max-w-96 items-center justify-between gap-4 sm:justify-around">
  <a
    routerLink="/"
    routerLinkActive="active"
    class="border-y-surface focus-ring-inset flex flex-1 grow flex-col items-center justify-center gap-0.5 border-y-2 px-3 pt-1 pb-0.5 uppercase"
    [routerLinkActiveOptions]="{ exact: true }">
    <i
      class="pi pi-home"
      aria-hidden="true"></i>
    <p class="text-xs">Home</p>
  </a>
  <a
    routerLink="/quizzes"
    routerLinkActive="active"
    class="border-y-surface focus-ring-inset flex flex-1 grow flex-col items-center justify-center gap-0.5 border-y-2 px-3 pt-1 pb-0.5 uppercase"
    [routerLinkActiveOptions]="{ exact: true }">
    <i
      class="pi pi-list"
      aria-hidden="true"></i>
    <p class="text-xs">Quizzes</p>
  </a>
  <a
    routerLink="/leaderboard"
    routerLinkActive="active"
    class="border-y-surface focus-ring-inset flex flex-1 grow flex-col items-center justify-center gap-0.5 border-y-2 px-3 pt-1 pb-0.5 uppercase"
    [routerLinkActiveOptions]="{ exact: true }">
    <i
      class="pi pi-crown"
      aria-hidden="true"></i>
    <p class="text-xs">Leaderboard</p>
  </a>
</div>
