<div class="bg-surface shadow-sm fixed bottom-0 w-full">
  <div class="mx-auto flex items-center justify-between sm:justify-around gap-4 max-w-96">
    <a
      routerLink="/home"
      routerLinkActive="active"
      class="px-3 pb-0.5 pt-1 flex items-center flex-col justify-center uppercase gap-0.5 border-y-surface border-y-2 grow focus-ring-inset flex-1"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="pi pi-home" aria-hidden="true"></i>
      <p class="text-xs">Home</p>
    </a>
    <a
      routerLink="/quizzes"
      routerLinkActive="active"
      class="px-3 pb-0.5 pt-1 flex items-center flex-col justify-center uppercase gap-0.5 border-y-surface border-y-2 grow focus-ring-inset flex-1"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="pi pi-list" aria-hidden="true"></i>
      <p class="text-xs">Quizzes</p>
    </a>
    <a
      routerLink="/leaderboard"
      routerLinkActive="active"
      class="px-3 pb-0.5 pt-1 flex items-center flex-col justify-center uppercase gap-0.5 border-y-surface border-y-2 grow focus-ring-inset flex-1"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="pi pi-crown" aria-hidden="true"></i>
      <p class="text-xs">Leaderboard</p>
    </a>
  </div>
</div>
