@if (query.isPending()) {
  <div class="flex flex-col gap-2.5 md:gap-4.5">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 md:gap-4">
      @for (skeleton of quizzesSkeleton(); track $index) {
        <app-quiz-skeleton />
      }
    </div>
    <app-button variant="skeleton" size="lg" skeletonWidth="6.75rem" class="mx-auto" />
  </div>
} @else if (quizzes().length === 0) {
  <div
    class="bg-surface shadow-sm rounded-lg flex items-center flex-col p-4 min-h-40 justify-center text-secondary"
  >
    <p class="text-xl font-medium">No quizzes found!</p>
    <p>Try adjusting your filters or browsing a different category.</p>
  </div>
} @else {
  <div class="flex flex-col gap-2.5 md:gap-4.5">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-2 md:gap-4">
      @for (quiz of quizzes(); track quiz.id) {
        <app-quiz [quiz]="quiz" />
      }
      @if (query.isFetchingNextPage()) {
        @for (skeleton of quizzesSkeleton(); track $index) {
          <app-quiz-skeleton />
        }
      }
    </div>
    @if (query.isFetchingNextPage()) {
      <app-button variant="skeleton" size="lg" skeletonWidth="6.75rem" class="mx-auto" />
    }
    @if (showButton()) {
      <app-button
        variant="secondary"
        size="lg"
        customClasses="shadow-sm mx-auto"
        (handleClick)="query.fetchNextPage()"
      >
        Load more
      </app-button>
    }
  </div>
}
