@if (quizzes().length === 0 && !isLoading()) {
  <div
    class="bg-surface shadow-sm rounded-lg flex items-center flex-col p-4 min-h-40 justify-center text-secondary"
  >
    <p class="text-xl font-medium">No quizzes found!</p>
    <p>Try adjusting your filters or browsing a different category.</p>
  </div>
} @else {
  <div class="flex flex-col gap-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      @for (quiz of quizzes(); track quiz.id) {
        <app-quiz [quiz]="quiz" />
      }
      @if (isLoading()) {
        @for (item of skeletonItems(); track $index) {
          <app-quiz-skeleton />
        }
      }
    </div>
    @if (hasMore() && !isLoading()) {
      <app-button
        variant="secondary"
        size="lg"
        customClasses="shadow-sm mx-auto"
        (handleClick)="loadMore()"
      >
        Load more
      </app-button>
    }
  </div>
}
