<div class="bg-surface shadow-sm">
  <div class="bg-brand-dark h-2"></div>
  <div class="flex gap-2 justify-between items-center px-2.5 py-2 sm:px-4 sm:py-3">
    <a
      routerLink="/"
      class="text-2xl uppercase font-extrabold transition-all flex gap-1.5 group focus-ring"
    >
      <img
        src="/assets/images/logo.webp"
        alt="Quizarena logo"
        class="size-8 group-hover:opacity-95"
      />
      <span class="hidden sm:block group-hover:text-brand-dark">Quizarena</span>
    </a>
    <div
      class="bg-brand-dark aspect-square size-8 rounded-full border-[5px] border-border-light flex items-center justify-center"
    >
      <span class="text-on-accent font-extrabold text-xl">J</span>
    </div>
  </div>
</div>
