<div class="flex h-full w-full flex-col items-center gap-4 md:gap-8">
  <div class="flex flex-col gap-1 self-start">
    <div class="flex flex-col items-center gap-1 sm:flex-row sm:gap-3">
      <h1 class="xs:text-3xl text-center text-2xl font-bold sm:text-5xl">
        Game Summary
      </h1>
      <div
        class="bg-accent text-on-accent w-fit shrink-0 self-start rounded-full px-2 py-0.5 text-xs shadow-sm sm:self-center sm:px-3 sm:py-1 sm:text-base">
        {{ categoryLabels[game().quiz.category] }}
      </div>
    </div>
    <h2 class="text-secondary sm:text-xl">{{ game().quiz.title }}</h2>
  </div>
  @if (gameQuery.isError()) {
    <app-fallback-ui
      title="Something went wrong"
      description="Oops! We couldn't load the game summary."
      class="h-full w-full"
      redirectTo="/">
      <svg
        icon
        class="xs:min-w-32 max-w-64 min-w-16"
        si-fetch-error-image />
    </app-fallback-ui>
  } @else {
    <div
      class="bg-surface flex w-full flex-col gap-8 rounded-4xl px-6 py-4 shadow-md">
      @if (gameQuery.data()) {
        <p-table
          [value]="sortedPlayers()"
          [frozenValue]="loggedInPlayer() ? [loggedInPlayer()] : []"
          [scrollable]="true"
          scrollHeight="500px">
          <ng-template #header>
            <tr>
              <th>Rank</th>
              <th>Name</th>
              <th>Answers</th>
              <th>Score</th>
            </tr>
          </ng-template>
          <ng-template
            #frozenbody
            let-player
            let-index="rowIndex">
            <tr class="font-bold">
              <td class="text-tertiary text-shadow-xs">
                {{ player.position }}
              </td>
              <td class="text-tertiary text-shadow-xs">
                {{ player.player.firstName }} {{ player.player.lastName }}
              </td>
              <td class="text-tertiary text-shadow-xs">
                {{ player.correctAnswers }}/{{ game().quiz.questionsCount }}
              </td>
              <td class="text-tertiary text-shadow-xs">{{ player.score }}</td>
            </tr>
          </ng-template>
          <ng-template
            #body
            let-player>
            <tr>
              <td>1</td>
              <td>
                {{ player.player.firstName }} {{ player.player.lastName }}
              </td>
              <td>
                {{ player.correctAnswers }}/{{ game().quiz.questionsCount }}
              </td>
              <td>{{ player.score }}</td>
            </tr>
          </ng-template>
        </p-table>
      } @else if (gameQuery.isPending()) {
        <app-game-summary-skeleton />
      }
    </div>
  }
</div>
