@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import 'tailwindcss';

@theme inline {
  /* Main color palette */
  --color-background-app: var(--background-app); /* Main application background*/
  --color-surface: var(--surface); /* Background for cards, modals, and panels */
  --color-brand-dark: var(--brand-dark); /* Dark UI accent, headings */
  --color-primary: var(--primary); /* Main text color */
  --color-secondary: var(--secondary); /* Secondary text, descriptions */
  --color-on-accent: var(--on-accent); /* Text on colored/dark buttons */
  --color-accent: var(--accent); /* Primary accent color, buttons, links */
  --color-notification: var(--notification); /* Notification/alert color */
  --color-border-light: var(--border-light); /* Light borders and separators */
  --color-game-single-bg: var(--game-single-bg); /* Single Player box background */
  --color-game-multi-bg: var(--game-multi-bg); /* Multiplayer box background */
  --color-status-success: var(--status-success); /* Correct answer color */
  --color-status-error: var(--status-error); /* Incorrect answer color */

  /* Fonts */
  --font-display: 'Rubik', sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 25rem;

  /* Container Sizes */
  --container-page-content-container: 96rem;
}

:root {
  --background-app: #f4f4f4;
  --surface: #ffffff;
  --brand-dark: #333333;
  --primary: #343a40;
  --secondary: #6c757d;
  --on-accent: #ffffff;
  --accent: #007bff;
  --notification: #dc3545;
  --border-light: #e0e0e0;
  --game-single-bg: #ffb74d;
  --game-multi-bg: #4db6ac;
  --status-success: #28a745;
  --status-error: #dc3545;
}

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-display);
  }

  body {
    color: var(--primary);
    background-color: var(--background-app);
    font-size: 1rem;
    font-weight: 400;
  }

  a,
  button {
    cursor: pointer;
  }
}

@utility text-break {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

@utility focus-ring {
  outline: none;
  &:focus-visible {
    @apply ring-2 ring-accent;
  }
}

@utility focus-ring-inset {
  outline: none;
  &:focus-visible {
    @apply ring-2 ring-accent ring-inset;
  }
}
